body {
  font-family: var(--mainFont);
}

header {
  padding: 31px;
  border: 0.7px solid #c4c4c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 44px;
  color: #1090cb;
}

.right {
  display: flex;
  gap: 167px;
  align-items: center;
}

#nav {
  display: flex;
  align-items: center;
}

#nav ul {
  display: flex;
  gap: 71px;
}

#nav ul li a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.contactButton {
  width: 125px;
  height: 41px;
  border: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  background: #1090cb;
  border-radius: 6px;
}

.active-nav {
  color: #1090cb !important;
}
