body {
  font-family: var(--mainFont);
}

header {
  padding: 31px;
  border: 0.7px solid #c4c4c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 44px;
  color: #1090cb;
}

.right {
  display: flex;
  gap: 167px;
  align-items: center;
}

#nav {
  display: flex;
  align-items: center;
}

#nav ul {
  display: flex;
  gap: 71px;
}

#nav ul li a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.contactButton {
  width: 125px;
  height: 41px;
  border: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  background: #1090cb;
  border-radius: 6px;
}

.active-nav {
  color: #1090cb !important;
}
.Rectangle {
  height: 743px;
  background: rgba(16, 144, 203, 0.1);
  padding: 128px 26px 20px 123px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.leftImage {
  position: absolute;
  left: 0;
  bottom: -20%;
}

.rightImage {
  position: absolute;
  right: 0;
  bottom: -14%;
}

.Rectangle-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  max-width: 630px;
  color: #000000;
  margin-bottom: 16px;
}
.Rectangle-textt {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 204.3%;
  color: #5c5c5c;
  max-width: 613px;
}
.Rectangle-butoon {
  display: flex;
  gap: 15px;
}
.contactButton2 {
  width: 193px;
  height: 51px;
  border: 0;
  border-radius: 6px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 204.3%;
  color: #ffffff;
  background: #1090cb;
}
.contactButton3 {
  width: 193px;
  height: 51px;
  border: 0;
  border-radius: 6px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 204.3%;
  color: #1090cb;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #1090cb;
}
.blue-text {
  color: #1090cb;
}

.Rectangle-textt p {
  margin-top: 1rem;
}

.Rectangle-butoon {
  margin-top: 65px;
}
.icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.7px solid #C7C7C7;
  margin-top: 24px;
  padding: 130px;
}